<%= render 'layouts/jumbotron' %>
<div class="container" style="background-color:#f5f5f5;">
	<div class="row">
		<div class="col-md-8">
			<h2>免責事項</h2>
			<p>当サイトのコンテンツの利用に際し、いかなるトラブルが発生しても、当サイトならびにレビュー制作者は一切の責任を負いません。</p>
			<p>当サイトのコンテンツは利用者への予告無しに変更・削除されることがあります。</p>
        </div>
    </div>
</div>