<div class="container">
  <div class="row">
    <div class="col-md-6">
        <br>
	        <p class="no-margin text-white" style="font-size: 14px;">COPYRIGHT © 2020, WhiskyTimes</p>
            <p>このサイトは皆様の善意によって作られています<br>
            </p>
    </div>
  </div>
</div>