<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1 class="display-4 font-italic font-weight-bolder ml-5 mb-4" style="color:#333333;">WhiskyTimes</h1>
        <p class="lead font-weight-bolder" style="color:#333333;">ウイスキーが好きな人のための投稿サイト</p>
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->